@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-success {
  color: #22c55e;
}

.text-muted {
  color: #64748b;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #0f172a;
}
