/* 1. PrimeNG - Tema e Core */
/* ALTERADO: Usando 'bootstrap4-light-blue' que aparece na sua imagem */
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

/* 2. Bootstrap */
/* O til (~) é essencial para achar a pasta node_modules */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* 3. Estilos Globais */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f9fa;
}
